/* Estilização apenas de seletores de classes e classes modificadores (específicas)*/

.elementExample {      /* class comum das duas div */
  width:300px;
  height: 200px;
  line-height: 200px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}          

.elementExample_first {           /* colocando a img sob a outra div*/
  background-color: #8E44AD;
  position: relative;         /* pos em q o element foi criado */
  top: 200px;        /* não muda pq o element padrão é static,precisamos mudar o position */
  left: 100px;
}

.elementExample_last {
  background-color: #C0392B;
  position: relative;           /* coloquei a div que tava atras na frente */
  /* z-index: 1;   padrão static é static, precisamos alterar o position, padrao index 0 dos elementos */
}

.elementExample_isActive {
  z-index: 1;          /* Quem tiver essa classe, estará na frente */
}


/* Position relative conseguimos mexer o elemento dele, pegando como referência o padrão inicial onde foi criado no html  */

/* top, bottom, left , right e z index; Eixos x,y e z...  */

